@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-swipe-right {
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
}

.animate-swipe-left {
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}